@import "tailwindcss";
<script src="https://cdn.tailwindcss.com"></script>



@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}

button {
  @apply transition duration-200 ease-in-out;
}